*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F1E9D0;
  overflow-x: hidden;
}

button {
  font-family: Georgia, 'Times New Roman', serif;
}

input, textarea {
  font-family: Georgia, 'Times New Roman', serif;
}
